.technologies
    @apply flex flex-wrap gap-3
@media screen and (max-width: 500px)
    .technologies
        @apply justify-center gap-2
.aboutTech
    font-size: 18px
    p 
        @apply mb-2
    .aboutTechP
        @apply my-4 inline-block
        border-bottom: solid 1px #b5ae80 
        font-size: 20px
        